html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.header{
    background-color: #000010;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.content {
    padding: 1.5em;
}
table.result{
    border-spacing: 0px;
    margin: 25px;
}

table.outline {
    border: 2px solid black;
}

table.result td{
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
table.result td.top{
    border-top: 2px solid black;
}

table.result td.right{
    border-right: 2px solid black;
}

table.result td.bottom{
    border-bottom: 2px solid black;
}

table.result td.left{
    border-left: 2px solid black;
}

table.result td.inSquare{
    background-color: lightgray;
}

.highlight_diagonal{
    background-color: lightgreen;
}

.highlight_medium{
    background-color: lightsalmon;
}

.highlight_first_last{
    background-color: lightgray;
}